<!DOCTYPE html>
<html>
<head>
    <title>SAM API Test Application</title>

    <link rel="stylesheet" type="text/css" href="/app.css">

    <script src='/components/sam-js/sam.min.js'></script>
    <script src="/components/jquery/jquery.min.js"></script>
    <script src="/app.js"></script>
</head>
<body>
    <h1>SAM Example App</h1>
    <h2>Stories</h2>
    <button id="fetchStories">Fetch Stories</button>
    <ul id="stories"></ul>
    <h2>Story</h2>
    <ul id="story"></ul>
    <h2>Assets</h2>
    <ul id="assets"></ul>
    <h2>Asset</h2>
    <ul id="asset"></ul>
</body>
</html>